In [4]:
import pandas as pd
import numpy as np

#tucanliste = pd.read_excel(r"C:\Users\larsf\HESSENBOX-DA\GMV-Tutoren WiSe 2021_2022 (Pascal Mosler)\Geogebra-Tool\Sonstige Dateien\TUCaNTeilnehmer.xlsx", header = None)

In [12]:
csv = pd.read_csv('Ressources/Testat1_Sicherungsdatei_SensibleDaten.csv')
csv

,Matrikelnummer,Nachname,Vorname,Punkte,Bestanden,Kriterium 1,Kriterium 2,Kriterium 3,Bemerkungen
0,2321088,Mosler,Pascal,NaN,NaN,NaN,NaN,NaN,NaN
1,2321089,Wagenbach,Lars,NaN,NaN,NaN,NaN,NaN,NaN
2,2321090,Haas,Dimitri,NaN,NaN,NaN,NaN,NaN,NaN
3,2321091,Behrendt,Alina,NaN,NaN,NaN,NaN,NaN,NaN
4,2321092,Schumacher,Eric,NaN,NaN,NaN,NaN,NaN,NaN
5,2321094,Braun,Franziska,NaN,NaN,NaN,NaN,NaN,NaN