In [2]:
import pandas as pd

tucanliste = pd.read_excel(r"C:\Users\larsf\HESSENBOX-DA\GMV-Tutoren WiSe 2021_2022 (Pascal Mosler)\Geogebra-Tool\Sonstige Dateien\TUCaNTeilnehmer.xlsx", header = None)

In [7]:
moodleliste = pd.read_excel(r"C:\Users\larsf\HESSENBOX-DA\GMV-Tutoren WiSe 2021_2022 (Pascal Mosler)\Geogebra-Tool\Sonstige Dateien\MoodleTeilnehmer.xlsx")

In [3]:
tucanliste.columns = ['Index', 'Matrikelnummer', 'Nachname', 'Vorname']
tucanliste

   Index  Matrikelnummer    Nachname    Vorname
0      1         2321088      Mosler     Pascal
1      2         2321089   Wagenbach       Lars
2      3         2321090        Haas    Dimitri
3      4         2321091    Behrendt      Alina
4      5         2321092  Schumacher       Eric
5      6         2321093      Rüppel        Uwe
6      7         2321094       Braun  Franziska

In [13]:
tucanliste[['Punkte','Bestanden']] = ''
print(tucanliste)

   Index  Matrikelnummer    Nachname    Vorname Punkte Bestanden
0      1         2321088      Mosler     Pascal
1      2         2321089   Wagenbach       Lars
2      3         2321090        Haas    Dimitri
3      4         2321091    Behrendt      Alina
4      5         2321092  Schumacher       Eric
5      6         2321093      Rüppel        Uwe
6      7         2321094       Braun  Franziska

In [17]:
testatliste = pd.merge(moodleliste,tucanliste,on=['Nachname', 'Vorname'])
testatliste_neu = testatliste.drop('E-Mail-Adresse',axis=1)

     Vorname    Nachname  Matrikelnummer
0     Pascal      Mosler         2321088
1       Lars   Wagenbach         2321089
2    Dimitri        Haas         2321090
3      Alina    Behrendt         2321091
4       Eric  Schumacher         2321092
5  Franziska       Braun         2321094

In [1]:
testatliste_neu

NameError: name 'testatliste_neu' is not defined