In [1]:
import pandas as pd

#tucanliste = pd.read_excel(r"C:\Users\larsf\HESSENBOX-DA\GMV-Tutoren WiSe 2021_2022 (Pascal Mosler)\Geogebra-Tool\Sonstige Dateien\TUCaNTeilnehmer.xlsx", header = None)

In [2]:
tucanliste.columns = ['Index', 'Matrikelnummer', 'Nachname', 'Vorname']
testatliste = pd.merge(moodleliste,tucanliste,on=['Nachname', 'Vorname'])
testatliste_neu = testatliste.drop('E-Mail-Adresse',axis=1)
tucanliste

NameError: name 'tucanliste' is not defined

In [4]:
# HTML einlesen
kp = pd.read_html('Ressources/Moodle-Abgaben/Dimitri Haas_4591220_assignsubmission_file_/2321090.html')[0]
kp

,Name,Definition,Wert
0,Zahl H�heTurm,nbsp,H�heTurm = 10
1,Zahl SchiebereglerO,NaN,SchiebereglerO = 5
2,Zahl SchiebereglerB,NaN,SchiebereglerB = 10
3,Punkt A,NaN,"A = (0, 0, 0)"
4,Punkt B,"(SchiebereglerB, 0, 0)","B = (10, 0, 0)"
...,...,...,...
64,Strecke b1,"Strecke(Z, Q)",b1 = 19.25
65,Strecke c1,"Strecke(P, U)",c1 = 7.83
66,"Punkt A1(-205122.17, 89740.95, 0)",S t r e c k e,"A1 = (-205122.17, 89740.95, 0)"
67,Strecke f2,"Strecke(U, A)",f2 = 16.12
68,Zahl o,S c h i e b e r e g l e r H HöheTurm,o = 151942644503.37